//Container & Breakpoints
@use 'sass:math';
$containerWidth: 1140;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

//tmp
$burgerBreakpoint: $breakpoint768;
$burgerColor: #131418;
$burgerActiveColor: #fefefe;

//Fonts
$fontMain:'Inter', sans-serif;

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #EFF2F1;
}

a {
    text-decoration: none;
}
// section {
//     margin: 0 auto;
//     max-width: 1400px;
// }
.btn {
    cursor: pointer;
    padding: 11px 35px;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    background-color: #2f2f2f;
    color: #ffffff;
    border-radius: 30px;
    border: 2px solid #ffffff;

    &.btn-sofa {
        background-color: #f9bf29;
        color: #2f2f2f;

        &:hover {
            background: darken(#f9bf29, 10);
            color: #ffffff;
        }
    }
    &.outline {
        color: #ffffff;
        background: transparent;
    }
}

.buttons {
    margin-top: 117px;
    display: flex;
    gap: 14px;
}

.header {
    background-color: #3B5D50;
    border-bottom: 1px solid #618879;

    &.fixed {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 2;
    }
}

.logo {
    z-index: 2;
    a {
        color: #fff;
    }
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    // width: 100%;
}

.menu {
    display: flex;
    gap: 44px;

    &-item {
        display: flex;
        position: relative;
    }

    &-item-link {
        display: flex;
        position: relative;
        transition: 0.5s color;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        opacity: 0.5;
        text-transform: capitalize;

        // underline for a
        &:after {
            position: absolute;
            content: '';
            left: 0;
            bottom: -10px;
            background-color: #f9bf29;
            height: 5px;
            width: 100%;
            transform: scale(0);
            transition: 0.5s transform;
        }
        &:hover {
            // color: #131418;
            opacity: 1;
            &:after {
                transform: scale(1);
            }
        }
    }

    // Mobile
    // @media screen and (max-width: $burgerBreakpoint) {
    //     position: fixed;
    //     background: $burgerColor;
    //     left: 0;
    //     top: 0;
    //     height: 100vh;
    //     width: 100vw;
    //     flex-direction: column;
    //     pointer-events: all;
    //     justify-content: center;
    //     align-items: center;
    //     z-index: 2;
    //     animation: fade 0.1s linear;
    // }

    // Mobile menu styles
    @media screen and (max-width: $burgerBreakpoint) {
        position: fixed;
        background: $burgerColor;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        display: none;

        &.active {
            display: flex;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vw;
            flex-direction: column;
            pointer-events: all;
            justify-content: center;
            align-items: center;
            z-index: 2;
            animation: fade 0.1s linear;

            .menu-item-link {
                opacity: 1;
            }
        }
    }
}

.burger {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    height: 30px;
    width: 30px;
    outline: none;
    padding: 0;
    pointer-events: initial;
    position: relative;
    z-index: 2;

    @media screen and (max-width: $burgerBreakpoint) {
        display: flex;
    }
    
    span {
        background-color: $burgerColor;
        content: '';
        display: block;
        height: 2px;
        left: calc(50% - 13px);
        position: absolute;
        top: calc(50% - 1px);
        transform-origin: 50% 50%;
        transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
        width: 26px;

        &:before,
        &:after {
            background-color: $burgerColor;
            content: '';
            display: block;
            height: 2px;
            position: absolute;
            transform-origin: 50% 50%;
            transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
            width: 26px;
        }

        &:before {
            top: 7px;
        }

        &:after {
            top: -7px;
        }
    }

    &.active {
        span {
            background-color: transparent;
            transition: background 0.2s ease-out;

            &:before,
            &:after {
                transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
                background-color: $burgerActiveColor;
            }

            &:before {
                top: 0;
                transform: rotate3d(0,0,1,-45deg);
            }

            &:after {
                top: 0;
                transform: rotate3d(0,0,1,45deg);
            }
        }
    }
}



.section-main {
    .sofa {
        padding-top: 90px;
        background-color: #3B5D50;
        display: flex;
        justify-content: center;
        
        .title {
            color: #fff;
            font-size: 45px;

            // @media (max-width: $breakpoint768) {

            // }

        }

        .item {
            flex: 0 1 420px;
        }

        .sofa-img-block {
            position: relative;
        }

        .img-sofa {
            position: relative;
            z-index: 3;
        }
        .dotted {
            position: absolute;
            top: 50px;
            right: -40px;
        }
    }

}


.section-materials {

    // .container {
    //     max-width: 1200px;
    // }

    .title {
        color: #2F2F2F;
        font-size: 34px;
    }

    .text {
        color: #6A6A6A;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin: 20px 30px 30px 0;
    }

    .materials {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1200px;
        padding-top: 100px;
    }

    .item {
        width: 240px;

        &-img {
            min-height: 300px;
        }

        p {
            color: #2F2F2F;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
        }

        .price {
            font-weight: 700;
            font-size: 18px;
        }
    }

    .first-item {
        width: 300px;
        // margin-left: 177px;

        // p {
        //     color: #6A6A6A;
        // }
    }

}


.choose {
    padding: 80px 0 70px 0;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin:0 auto;
    max-width: 1200px;

    .left {
        width: 514px;
        flex: 0 1 514px;
        // padding-top: 60px;

        .title {
            font-style: normal;
            font-weight: 600;
            font-size: 34px;
            line-height: 41px;
            color: #2F2F2F;
        }

        .text {
            margin-top: 20px;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #6A6A6A;
        }
        // display: flex;
    }
    .right {
        position: relative;

        &:after {
            position: absolute;
            content: "";
            background: rgba(53, 115, 110, 0.1);
            border-radius: 20px;
            width: 296px;
            top: 120px;
            left: -310px;
            height: 307px;
        }

        .ydotted {
            position: absolute;
            top: -60px;
            left: -60px;
            z-index: -1;
        }
    }
}

.why {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 80px;

    // &-img {
    //     z-index: 1;
    // }

    &-item {
        width: 200px;
        // margin: 40px 40px 40px 0;
    }

    &-text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #6A6A6A;
        margin-top: 10px;
    }
    &-title {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #2F2F2F;
    }
}


.help {
    padding: 40px 0 70px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin:0 auto;
    max-width: 1200px;

    .left {
        display: flex;
        position: relative;
        align-items: flex-start;
        width: 600px;
        height: 540px;

        .help1 {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 10px;
        }
        .help2 {
            position: absolute;
            top: 220px;
            left: 340px;
            border-radius: 10px;
        }
        .help3 {
            position: absolute;
            top: 0;
            left: 440px;
            border-radius: 10px;
        }
        .hdotted {
            position: absolute;
            top: -60px;
            left: -120px;
            z-index: -1;
        }
    }
    .right {
        width: 480px;
        margin-left: 70px;

        .title {
            font-style: normal;
            font-weight: 600;
            font-size: 34px;
            line-height: 41px;
            color: #2F2F2F;
        }

        .text {
            margin-top: 20px;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #6A6A6A;
        }

        li {
            margin-top: 20px;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #6A6A6A;
            padding-left: 20px;
            list-style: circle;
            width: 240px;
        }

        ul {
            padding: 30px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}

.examples {
    padding: 40px 0 70px 0;
    display: flex;
    justify-content: center;
    // gap: 10px;
    margin:0 auto;
    max-width: 1200px;

    .item {
        font-style: normal;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        margin-left: 50px; 

        h3 {
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            color: #000000;
        }
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #6A6A6A;
            width: 210px;
            margin: 11px 0;
        }

        a {
            font-weight: 700;
            font-size: 12px;
            line-height: 22px;
            color: #6A6A6A;
            text-decoration: none;
        }
        a:hover {
            color: #2F2F2F;
        }
    }

    &-img {
        position: relative;

        &:after {
            position: absolute;
            content: "";
            background: rgba(53, 115, 110, 0.1);
            border-radius: 20px;
            width: 98px;
            top: 14px;
            left: 0px;
            height: 98px;
        }
    }
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto;
    max-width: 1200px;
    font-style: normal;

    h2 {
        font-weight: 600;
        font-size: 34px;
        line-height: 41px;
        text-align: center;
        color: #2F2F2F;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        color: #000000;
    }

    .item {
        padding: 40px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-btn {
        width: 58px;
        height: 58px;
        border-radius: 50px;
        background: #C4C4C4;
        opacity: 0.1;
        text-align: center;
        cursor: pointer;

        &-svg {
            margin-top: 18px;
        }
    }
    .right-btn {
        width: 58px;
        height: 58px;
        border-radius: 50px;
        background: #385D50;
        text-align: center;
        cursor: pointer;

        &-svg {
            margin-top: 18px;
        }
    }

    .text {
        max-width: 760px;
        margin: 0 110px;
    }

    .ava img {
        border-radius: 50px;
    }

    .name {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #000000;
    }

    .position {
        // width: 78px;
        font-weight: 400;
        font-size: 13px;
        line-height: 32px;
        text-align: center;
        color: #2F2F2F;
    }

    .slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }
}

.blog {
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 150px;
    font-style: normal;

    &-header {
        display: flex;
        justify-content: space-between;
    }
    &-link {
        font-weight: 600;
        font-size: 16px;
        line-height: 41px;
        color: #2F2F2F;
        text-decoration: underline;
    }
    h2 {
        margin-bottom: 36px;
        font-weight: 600;
        font-size: 34px;
        line-height: 41px;
        color: #2F2F2F;
    }
    .list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .item img {
        border-radius: 10px;
    }
    .first {
        margin-top: 36px;
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #2F2F2F;
    }
    .second {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #2F2F2F;

        span {
            font-weight: 400;
            font-style: italic;
        }
    }
}

.section-subscribe {
    background-color: #fff;
    padding: 100px 0 130px 0;
}

.subscribe {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

    margin: 0 auto;
    max-width: 1200px;
    font-style: normal;


    &-btn {
        width: 50px;
        height: 50px;
        background: #35736E;
        border: 1px solid #C4C4C4;
        border-radius: 10px;
        cursor: pointer;
    }
    img {
        position: absolute;
        top: -200px;
        right: 0;
    }
    .title {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 12px;

        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #2F2F2F;
    }
    .form {
        margin-top: 24px;
        // max-width: 600px;
        display: flex;
        align-items: center;
        gap: 12px;

        input {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #2F2F2F;

            padding: 14px 22px;
            border-radius: 10px;
            outline: none;
            &:focus {
                border: 1px solid #385D50;
            }
        }
    }
}

footer {
    background-color: #fff;
    padding-bottom: 32px;

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    ul {
        list-style: none;
    }

    .logo-black {
        margin-bottom: 17px;
    }
}

.footer {
    display: flex;
    gap: 65px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6A6A6A;

    .text {
        // width: 360px;
        width: 460px;
    }

    .right {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }

    a {
        line-height: 28px;
        font-weight: 400;
        font-size: 14px;
        color: #6A6A6A;

        &:hover {
            color: #385D50;
        }
    }

    .social {
        display: flex;
        gap: 11px;
        margin-top: 50px;
        margin-bottom: 32px;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            background: #D9D9D9;

            &:hover {
                svg {
                    scale: 1.2;
                }
            }
        }
    }
}

.copy {
    display: flex;
    justify-content: space-between;

    border-top: 1px solid #eff2f1;
    padding-top: 36px;

    line-height: 24px;
    font-weight: 400;
    font-size: 13px;
    color: #6A6A6A;

    .right-item {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    a {
        line-height: 24px;
        font-weight: 400;
        font-size: 14px;
        color: #6A6A6A;

        &:hover {
            color: #385D50;
        }
    }
}